<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Tridion.SmartTarget.Analytics.TrackingRedirect" path="*" verb="GET" type="Tridion.SmartTarget.Analytics.TrackingRedirect" resourceType="Either" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
</configuration>